.condet {
  width: 650;
  height: 550px;
  margin-left: 50%;
  margin-top: 5%;
  transform: translateX(-50%);
  padding-bottom: 50px;
  background-image: url(https://images.pexels.com/photos/1435895/pexels-photo-1435895.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  display: flex;
  flex-direction: column-reverse;
}

.form1 {
  display: flex;
  flex-wrap: wrap;
  column-count: 2;
}

.minicont{
  width: 325px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
  font-family: 'Trebuchet MS';
}

.errorsadd {
  width: 700px;
  height: 35px;
}

.errors {
  display: flex;
  font-size: 11px;
  color: crimson;
  margin-top: 2px;
}

.inputsc {
  width: 170px;
  margin-left: 85px;
  border-radius: 10px;
  border-width: 2;
  border-color: darkorange;
  font-family: 'Trebuchet MS';
}

.summaryinp {
  width: 250px;
  margin-left: 25px;
  font-size: small;
  border-radius: 10px;
  border-width: 2;
  border-color: darkorange;
  font-family: 'Trebuchet MS';
}

.dietchose {
  background-color: green;
}

.submitbutton{
  position: relative;
  left: 0%;
  top: 25px;
  width: 270px;
  height: 60px;
  font-size: x-large;
}

.submitbutton:hover {
  color: green;
}

.delete {
  display: flex;
  height: 10px;
  width: 300px;
  margin-top: -60px;
  font-size: small;
}