.navbar {
    width: 100%;
    display:flex;
    position: fixed;
    justify-content: space-around;
    z-index: 1;
    top: 0;
    color: antiquewhite;
    background-color:rgb(8, 2, 77);
  }

.a {
  margin-top: 10px;
  width: 25%;
}

.b {
  color: antiquewhite;
}