/* Text when search is null */
.testito {
  width: 500px;
  height: 200px;
  background-color: violet;
}

/* All the posts */
.meal {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  /* flex-shrink: 3; */
  overflow: hidden;
  background-color: aqua;
}