/* Text when search is null */
.testito {
  width: 500px;
  height: 200px;
}

/* All the posts */
.meal {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}